.el-table.r-table .cell {
  display: inline-block;
  white-space: nowrap;
  width: auto;
  overflow-y: hidden;
  overflow-x: auto;
}

.el-table.r-table .cell > * {
  width: auto;
  width: max-content;
  margin: 0 auto;
  white-space: nowrap;
}
